{{ define "main" }}
<main class="biblioteca">
  <div class="librero">
    {{ range .Pages }}
    {{ $categoria := .Params.categoria | default "general" }}
    {{ $tipo := .Params.tipo | default "lomo" }}
    <a href="{{ .Permalink }}" class="libro {{ $tipo }} categoria-{{ $categoria }}" data-categoria="{{ $categoria }}">
      <span class="libro-titulo">{{ .Title }}</span>
      {{ if eq $tipo "portada" }}{{ with .Params.autor }}<span class="libro-autor">{{ . }}</span>{{ end }}{{ end }}
    </a>
    {{ end }}
  </div>
</main>
{{ end }}
